#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}
.todo{
  width:  600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.search{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
input {
  border-radius: 10px;
  height: 40px;  
  border: 1px solid;
}
select{
  border-radius: 10px;
  width: 130px;
  height: 40px;  
}
.save{
  display: flex;
  justify-content: space-between;
}
